:root {
  --lightGrey: #d9d9d9;
  --darkGrey: #2e2d2d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.js-loading *,
.js-loading *::after,
.js-loading *::before {
  animation-play-state: paused !important;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url('images/background.jpg');
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  overflow: hidden;
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: 500px;
  position: relative;
}
.heading {
  margin-bottom: 2em;
  transform: scale(0.8);
  opacity: 0;
  animation: zoom-in 1s cubic-bezier(0, 0.75, 0, 1.11) forwards;
}
.heading h1 {
  font-size: 3rem;
  font-family: fantasy;
  color: white;
  font-weight: lighter;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 300px;
  width: 100%;
  height: 500px;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(40px);
  border-radius: 40px;
  padding: 20px;
  transform: scale(0.8);
  opacity: 0;
  animation: zoom-in 1s 0.3s cubic-bezier(0, 0.75, 0, 1.11) forwards;
}
@keyframes zoom-in {
  100% {
    opacity: 1;
    transform: none;
  }
}
.songs {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  height: 500px;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(40px);
  border-radius: 40px;
  padding: 20px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  background-color: #1f1e1e00;
  border-radius: 20px;
  overflow: hidden;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2e2d2d00;
  border-radius: 20px;
}
.playlistSongs {
  font-family: sans-serif;
  color: var(--lightGrey);
  font-size: 1.2rem;
  background: var(--darkGrey);
  width: 100%;
  /* height: 100%; */
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 0.6em;
  font-weight: lighter;
  cursor: pointer;
}
.playlistSongs:hover {
  opacity: 0.9;
}
.control_btns {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  height: 10%;
  min-height: 70px;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(30px);
  border-radius: 25px;
  margin-top: 2em;
  transform: scale(0.8);
  opacity: 0;
  animation: zoom-in 1s 0.5s cubic-bezier(0, 0.75, 0, 1.11) forwards;
}
.controller {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.slider {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

#slider_btn {
  width: 100%;
  height: 5px;
  background: #1f1e1e;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  margin-bottom: 1em;
}
.time {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#slider_btn::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--darkGrey);
  cursor: pointer;
  border-radius: 50px;
}
.volume {
  display: none;
  align-self: flex-end;
  width: 10%;
  height: 110px;

  position: absolute;
  right: 13px;
  bottom: 40px;
  border-radius: 20px;
}
.volume_img {
  width: 30px;
  height: 30px;
}
.volume_icon:hover + .volume,
.volume:hover {
  display: flex;
}

#volume_range {
  transform: rotateZ(-90deg) translateY(-42px) translateX(-30px);

  height: 5px;

  background: linear-gradient(
    90deg,
    rgb(23, 23, 24) 0%,
    rgb(23, 23, 24) 20%,
    rgba(209, 209, 210, 0) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
}

#volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--darkGrey);
  cursor: pointer;
  border-radius: 50px;
}
.control_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.playPause {
  display: flex;
  align-items: center;
  height: 100%;
}
.play {
  margin: 1em;
  width: 70px;
  height: 70px;
  background: var(--darkGrey);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.play:hover {
  opacity: 0.7;
}

.arrows {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.arrows:hover {
  opacity: 0.7;
}
.arrows:active {
  opacity: 1;
}

.hamburger {
  position: relative;
  cursor: pointer;
}
.line {
  width: 45px;
  height: 5px;
  margin: 0.3em;
  background: var(--darkGrey);
  border-radius: 20px;
  transition: 0.3s all ease;
}
.active .line:first-of-type {
  transform: rotateZ(-45deg) translate(-7px, 9px);
}
.active .line:nth-of-type(2) {
  opacity: 0;
}
.active .line:last-of-type {
  transform: rotateZ(45deg) translate(-5px, -6px);
}
.songNameDiv {
  width: 90%;
  margin-bottom: 1em;
  color: var(--lightGrey);
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
}

@media (max-width: 786px) {
  main,
  .control_btns {
    width: 95%;
  }
  .volume {
    display: flex;
  }
  main,
  .player,
  .songs {
    height: 425px;
  }
  .songName {
    font-size: 0.8rem;
  }
}
